*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233, 242, 245);
}
header{
  text-align: center;
  padding: 20px 0px;
  background-color: blue;
  color: White;
  border-radius: 7px;
}
header h1{
    border: 2px solid White;
    padding: 10px;
    margin: 5px;
}

header p{
    font-weight: 500;
}

.quize{
    height: 100vh;
    
}
.quize-body{
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    width: 1000px;
    margin-left: 15%;
    margin-top: 60px;
}
.questions{
    padding: 10px;
    background-color: rgba(206, 143, 255, 0.292);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 255, 0.177);
    
}
.question{
    padding: 10px 0px;
}

.fixed{
    position: fixed;
    background-color: rgb(23, 23, 255);
    color: white;
    font-weight: 700;
    height: 30px;
    width: 200px;
    bottom: 40px;
    right: 10px;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.box{
    padding: 40px;
    width: 200px;
    background-color: rgba(253, 253, 167, 0.851);
    border: 10px solid blue;
    margin: 20px;
}
  